
body {
    font-family: sans-serif;
    direction: rtl;
    background: #f0f8ff;
    padding: 20px;
}
header, main {
    text-align: center;
}
input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}
